[data-template="home"] {
  padding-top: 10vh;
  padding-bottom: 10vh;

  h2 {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
  }

  .boil-content:not(:last-child) {
    margin-bottom: 35px;
  }
}
