<%- include('../partials/head.ejs') %>

<div class="site-content" data-template="404">
  <div class="container">
    <h1><%- title.replaceAll('\n', '<br />'); %></h1>
    <p><%- message; %></p>
  </div>
</div>

<%- include('../partials/end.ejs') %>
